# git ignore for the autoconf and automake relative temp files
# *.o and *.so should not added here
oe-logs
oe-workdir

build-aux/
COPYING
INSTALL
Makefile.in
aml_version.h
aclocal.m4
autom4te.cache/
configure
config.h.in
config.h.in~
configure~
aml_version.h.in

config.log
config.status
cscope.in.out
cscope.out
cscope.po.out
tags
libtool

.vscode

*.o

.dirstamp
.deps
.libs
*.lo
