# git ignore for the autoconf and automake relative temp files
# *.o and *.so should not added here
oe-logs
oe-workdir

libtool
m4/
aclocal.m4
autom4te.cache/

build-aux/
Makefile.in

configure
config.h.in
config.h.in~
configure~
config.log
config.status

cscope.in.out
cscope.out
cscope.po.out
tags

COPYING
INSTALL
.vscode

.dirstamp
.deps
.libs
*.lo
